<html>
    <title>My Bio</title>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
	</head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12">
                 <h1 id="title">Hello, I'm Krisna and Welcome to My Bio</h1>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <img class="img-fluid" src="{% static 'img/824.png' %}">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 mt-3">
                    <dl class="accordion text-center">
                        <dt class="accordion-header"><h4>About Me</h4></dt>
                        <dd class="accordion-content"><p>Ordinary CS student who's interested in AI and Japanese stuffs<p></dd>
                        <dt class="accordion-header"><h4>My Activities</h4></dt>
                        <dd class="accordion-content">
                            <ul>
                                <li><p>Teaching Assistant of Discrete Mathematics 1</p></li>
                            </ul>
                        </dd>
                        <dt class="accordion-header"><h4>My Achievements</h4></dt>
                        <dd class="accordion-content">
                            <ul>
                                <li><p>3rd place in OSK Kota Bogor 2017</p></li>
                                <li><p>BNPCHS 2017 Finalist</p></li>
                            </ul>
                        </dd>
                        <dt class="accordion-header"><h4>My Experiences</h4></dt>
                        <dd class="accordion-content">
                            <ul>
                                <li><p>Junior Member of Data Science SIG in RISTEK (2018-2019)</p></li>
                                <li><p>Academic Staff at BETIS 2018 (2018)</p></li>
                            </ul>
                        </dd>
                    </dl>
                    <button onclick="changeBackground()" class="btn btn-light" id="white">Change Theme Here</button>
                </div>
            </div>
        </div>
        <script src="{% static "js/jquery-3.4.1.js" %}"></script>
        <script src="{% static "js/index.js" %}"></script>
    </body>

                


