
@font-face {
    font-family: productSans;
    src:url("/fonts/product-sans-bold.ttf");
}
#search-title{
    font-family:productSans;
    color: white;
}
body{
    background-color:rgb(105,105,105);
}
#search-query {
    width: 25em;
    display:flex;
}
