<html>
    <title>Search Books</title>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        {% load crispy_forms_tags %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
	</head>
    <body>
       {%include "navbar2.html"%}
        <div class="container-fluid">
            <div class="row justify-content-center">
                <h1 id="search-title">Books Search</h1>
            </div>
            <div class="row justify-content-center">
                    <div id="search-form">
                        {% csrf_token %}
                        {{search_form|crispy}}
                    </div>
            </div>
            <div class="row justify-content-center">
                <button class="btn btn-primary" id="search-button">Search</button>
            </div>
        </div>
        <div class="container-fluid">
            <table class=" table table-responsive table-dark table-hover mt-5">
                <thead class="table-header">
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Description</th>
                    <th scope="col">Authors</th>
                    </tr>
                </thead>
                <tbody id="books-list"></body>
            </table>
        </div>
        <script src="{% static "js/jquery-3.4.1.js" %}"></script>
        <script src="{% static "js/seach.js" %}"></script>
    </body>
